In [1]:
# import libraries
import pandas_datareader as pdr
import pandas as pd
from datetime import datetime

In [2]:
# read csv list of all adrs
df = pd.read_csv("adrs.csv")

In [3]:
# drop unnecessary columns
df = df.drop(columns=["GICS Sector", "P/E", "P/S", "P/B", "Current yield", "Avg Volume", "Action"])

In [4]:
# drop non asian countries (or asian countries with <= 2 adr)
df = df[df.Country != 'United Kingdom']
df = df[df.Country != 'Brazil']
df = df[df.Country != 'Israel']
df = df[df.Country != 'France']
df = df[df.Country != 'Argentina']
df = df[df.Country != 'The Netherlands']
df = df[df.Country != 'Switzerland']
df = df[df.Country != 'Germany']
df = df[df.Country != 'India']
df = df[df.Country != 'Belgium']
df = df[df.Country != 'Denmark']
df = df[df.Country != 'Australia']
df = df[df.Country != 'Norway']
df = df[df.Country != 'Spain']
df = df[df.Country != 'Italy']
df = df[df.Country != 'Sweden']
df = df[df.Country != 'Ireland']
df = df[df.Country != 'Luxembourg']
df = df[df.Country != 'Colombia']
df = df[df.Country != 'Finland']
df = df[df.Country != 'Mexico']
df = df[df.Country != 'Chile']
df = df[df.Country != 'South Africa']
df = df[df.Country != 'Turkey']
df = df[df.Country != 'Peru']
df = df[df.Country != 'Cayman Islands']
df = df[df.Country != 'Philippines']

In [5]:
# remove adrs whose underlying stock symbol is not available
df = df[df['Underlying Symbol'] != 'PRIVATE']

In [6]:
df.reset_index().drop(columns='index').head()

,Symbol,Name,Country,Underlying Symbol,Underlying Exchange,Market cap
0,TSM,Taiwan Semiconductor Manufacturing Co Ltd ADRs,Taiwan,TT:2330,Taiwan Stock Exchange,"$647,222,296,282"
1,TM,Toyota Motor Corp ADRs,Japan,JT:7203,Tokyo Stock Exchange,"$251,511,846,683"
2,SONY,Sony Group Corporation ADRs,Japan,JT:6758,Tokyo Stock Exchange,"$134,756,741,338"
3,SNE,Sony Corp ADRs,Japan,JT:6758,Tokyo Stock Exchange,"$133,684,841,374"
4,MUFG,Mitsubishi UFJ Financial Group Inc. ADRs,Japan,JT:8306,Tokyo Stock Exchange,"$74,293,513,306"

In [7]:
# All ADR tickers and underlying stock tickers
tickers = ['TSM', 'TM', 'SONY', 'MUFG', 'TAK', 'HMC', 'SMFG', 'MFG','BGNE', 'CAJ', 'CHT', 'PKX', 'TLK', 'UMC',
           'IX', 'KB', 'SKM','ASX', 'NMR', 'SHG', 'LFC', 'SNP', 'KEP', 'MBT', 'PTR', 'LPL', 'WF', 'KT', 'ZNH', 
           'CEA', 'ACH', 'HNP', 'IMOS', 'SHI',
           '2330.TW', '7203.T', '6758.T', '8306.T', '4502.T', '7267.T','8316.T', '8411.T', '6160.HK', 
           '7751.T', '2412.TW', '005490.KS', 'TLKM.JK', '2303.TW', '8591.T', '105560.KS', '017670.KS',
           '3711.TW', '8604.T', '055550.KS', '2628.HK', '0386.HK', '015760.KS', 'MTSS.ME', '0857.HK', 
           '034220.KS', '316140.KS','030200.KS', '1055.HK', '0670.HK','2600.HK', '0902.HK', '8150.TW','0338.HK']

In [8]:
x = df['Symbol'].unique()
for i in range(len(x)):
    if x[i] not in tickers[:34]:
        print(x[i]) 
        
# NOTE: printed adr data not found so have not included in tickers list

SNE
ZH
HCM
MSC
MTL
TLC

In [9]:
# fetch data and save as csv file
for ticker in tickers:
    df =  pdr.get_data_yahoo(symbols=ticker, start=datetime(2016, 1, 1), end=datetime(2021, 1, 1))
    df.to_csv(ticker+'.csv')