In [38]:
#from ib_insync import *
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint, adfuller
from statsmodels import regression,stats
import math
import datetime 
import statsmodels.formula.api as smf 
from datetime import date, time, datetime, timedelta
from collections import deque
from os import listdir
from os.path import isfile, join
from collections import defaultdict
from operator import itemgetter

In [39]:
df_rate = pd.read_csv("interest_rates.csv", index_col = 0).rename(columns = {"Date":'date'})
df_vix = pd.read_csv('vix.csv', index_col = 0).loc[:,['date','close']].rename(columns = {"close":'vix'})

In [44]:
df = pd.merge(df_rate, df_vix, how = 'right')

In [45]:
df.tail(10)

            date  rates_Aus  rates_US  rates_Japan  rates_hk    vix
2794  2021-04-06        0.1       1.0         -0.1      0.86  18.12
2795  2021-04-07        0.1       1.0         -0.1      0.86  17.16
2796  2021-04-08        0.1       1.0         -0.1      0.86  16.95
2797  2021-04-09        0.1       1.0         -0.1      0.86  16.69
2798  2021-04-12        0.1       1.0         -0.1      0.86  16.91
2799  2021-04-13        0.1       1.0         -0.1      0.86  16.65
2800  2021-04-14        0.1       1.0         -0.1      0.86  16.99
2801  2021-04-15        0.1       1.0         -0.1      0.86  16.57
2802  2021-04-16        0.1       1.0         -0.1      0.86  16.25
2803  2021-04-19        0.1       1.0         -0.1      0.86  17.29

In [46]:
df_recent = df.iloc[-14:, :]

In [50]:
np.array(df_recent.mean())

array([ 0.1       ,  1.        , -0.1       ,  0.86      , 17.41642857])

In [51]:
recent_measure =np.array(df_recent.mean())

In [ ]:
def distance(arr1, arr2):
    return