In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [2]:
mypath = '../eric_jh_data/'
countries = sorted(['Australia', 'Japan', 'China'])

list_pairs = []
for country in countries:
    countrypath = mypath + country
    adr_names =  [f for f in listdir(countrypath) if not isfile(join(countrypath, f))] #grab all adr names of the country
    for adr in sorted(adr_names):
        list_pairs.append((country, adr))

In [3]:
with open('../logs/results1_sfx_all.txt') as f:
    res = f.readlines()

In [4]:
variant_df = pd.DataFrame()
variants = ["1", "2", "3a", "3b"]
for variant in variants:
    variant_name = "Variant " + variant
    variant_df[variant_name] = [float(x.split("Return: ")[1].split("%")[0]) for x in res if variant_name in x]
variant_df.mean()

Variant 1     15.393571
Variant 2     22.361786
Variant 3a    22.650357
Variant 3b    23.336429
dtype: float64

In [5]:
is_ret = {}
is_hit = {}
index = 0
for (country, adr) in list_pairs:
    is_ret[(country, adr)] = float(res[index*5 + 4].split("Return: ")[1].split("%")[0]) 
    is_hit[(country, adr)] = float(res[index*5 + 4].split("Hit Ratio: ")[1].split("%")[0])
    index += 1

In [6]:
final_df = pd.DataFrame()
final_df["country"] = [x[0] for x in list_pairs]
final_df["adr"] = [x[1] for x in list_pairs]
final_df["is_ret"] = is_ret.values()
final_df["hit_ratio"] = is_hit.values()
final_df = final_df.sort_values(["country","is_ret"], ascending = False)
final_df[(final_df["hit_ratio"] > 55) & (final_df["is_ret"] > 10)]

      country        adr  is_ret  hit_ratio
24      Japan  SMFG_8316   31.18      59.70
20      Japan    IX_8591   27.56      56.90
27      Japan    TM_7203   20.46      68.97
21      Japan   MFG_8411   15.92      60.71
10      China  BGNE_6160   78.06      74.42
16      China    SNP_386   55.54      59.09
12      China    HNP_902   33.78      59.84
11      China    CEA_670   17.93      62.83
9       China   ACH_2600   14.02      61.02
6   Australia   MESO_MSB   84.63      80.23
2   Australia   IMMP_IMM   37.78      80.00
7   Australia    PLL_PLL   30.52      71.79
5   Australia   KZIA_KZA   15.66      79.10
3   Australia   IMRN_IMC   11.53      84.44