In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [2]:
mypath = '../eric_jh_data/'
countries = sorted(['Australia', 'Japan', 'China'])

list_pairs = []
for country in countries:
    countrypath = mypath + country
    adr_names =  [f for f in listdir(countrypath) if not isfile(join(countrypath, f))] #grab all adr names of the country
    for adr in sorted(adr_names):
        list_pairs.append((country, adr))

In [3]:
with open('../results1_sfx_all.txt') as f:
    res = f.readlines()
    
with open('../oos_sfx_coarse1_cum_results.txt') as f:
    oos_res = f.readlines()

In [4]:
variant_df = pd.DataFrame()
variants = ["1", "2", "3a", "3b"]
for variant in variants:
    variant_name = "Variant " + variant
    variant_df[variant_name] = [float(x.split("Return: ")[1].split("%")[0]) for x in res if variant_name in x]
variant_df.mean()

Variant 1     3.105714
Variant 2     3.028929
Variant 3a    3.392143
Variant 3b    3.968571
dtype: float64

In [5]:
is_ret = {}
os_ret = {}
index = 0
for (country, adr) in list_pairs:
    is_ret[(country, adr)] = float(res[index*5 + 4].split("Return: ")[1].split("%")[0]) 
    index += 1

In [6]:
final_df = pd.DataFrame()
final_df["country"] = [x[0] for x in list_pairs]
final_df["adr"] = [x[1] for x in list_pairs]
final_df["is_ret"] = is_ret.values()
final_df.sort_values(["country","is_ret"], ascending = False)

      country        adr  is_ret
25      Japan  SONY_6758    9.74
26      Japan   TAK_4502    8.85
27      Japan    TM_7203    4.09
24      Japan  SMFG_8316    2.11
18      Japan   CAJ_7751    1.89
22      Japan  MUFG_8306    1.86
20      Japan    IX_8591    0.82
19      Japan   HMC_7267    0.36
21      Japan   MFG_8411    0.33
23      Japan   NMR_8604    0.13
10      China  BGNE_6160   36.64
16      China    SNP_386    3.59
12      China    HNP_902    0.69
15      China    SHI_338    0.48
11      China    CEA_670    0.35
9       China   ACH_2600    0.30
17      China   ZNH_1055    0.20
14      China    PTR_857    0.16
13      China   LFC_2628   -0.17
7   Australia    PLL_PLL   23.35
6   Australia   MESO_MSB    4.39
1   Australia   GENE_GTG    3.51
8   Australia    WBK_WBC    2.14
5   Australia   KZIA_KZA    1.81
2   Australia   IMMP_IMM    1.75
3   Australia   IMRN_IMC    1.18
0   Australia   ATHE_ATH    0.35
4   Australia    JHX_JHX    0.22